* {
  --dark: #222d32;
  --light: #b8c7ce;
}

.truncate {
  width:100%; /*calc((100vw-280px)*0.0625); 16vw;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tileicon {
  font-size:1.8vw
  /* style="font-size:1.8vw" */
}

.highlight {
  font-weight: bold;
}

.h-inline {
  color: rgba(64, 79, 80, 0.67); /*taken from .ace_comment */
}

.h-inline:hover {
  color: #3C4C72; /*taken from .ace_comment-highlight */
}

/*  */

#dataInfo td {
  border:0;
}

/* FlipBox CARDS */
.box {
  /*min-height:200px;*/
  overflow-y: auto; /*scroll;*/
  scrollbar-width: thin;
  scrollbar-color: var(--dark) var(--light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box::-webkit-scrollbar {
    width: 10px;
}
.box::-webkit-scrollbar-track {
  background: var(--light);
}
.box::-webkit-scrollbar-thumb {
  background-color: var(--dark);
  border-radius: 5px;
  border: 3px solid var(--light);
}
.box-body {
  flex-grow:1;
}
.box-footer {
  border-top: 1px solid var(--light);
}
.box-icons {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  line-height: 1;
}
.box-icons > i {
  border: 0;
  color: black;
  padding: 0;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
.box-icons > *:not(:last-child) {
  margin-right: 10px;
}



.card-back td, .modal-body td { /* use it on cards and modal dialogs */
  padding:2px 4px 0px;
}

#KpiList .row {
  -moz-column-count: 1;
  column-count: 1;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -moz-column-fill: balance;
  column-fill: balance;
  margin: 20px auto 0;
  padding: 2rem;
}

#KpiList .row .col-sm-4 {
  display: inline-block;
  margin: 0 0 10px;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}